QLabel {

      font-size: 12px;

}

QPushButton {


	background-color: rgba(50, 50, 50, 1);

}

customLineEdit {

	border-radius: 10px; 
	background-color: rgb(40, 40, 40);
	color: rgb(222, 222, 222);
	font-size: 16px;
	padding-left: 5px;

}

customFrame {


	background-color: rgba(50, 50, 50, 128);
	border-radius: 5px; 
}



QScrollBar:vertical
{
      background: rgba(25, 25, 25, 255);
      width: 16px;
      margin: 16px 0 16px 0;
      
}

QScrollBar::handle:vertical
{
      background: rgb(75, 75, 75);
      min-height: 20px;
      border-radius: 2px;
}

QScrollBar::add-line:vertical
{
      border-radius: 2px;
      background: rgb(25, 25, 25);
      height: 14px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
      border-radius: 2px;
      background: rgb(25, 25, 25);
      height: 14px;
      subcontrol-position: top;
      subcontrol-origin: margin;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
      background: none;
}